
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: Dosis;
  font-weight: 600; }

.cb-title14 {
  padding-top: 80px;
  padding-bottom: 30px; }

.cb-content45 p {
  font-size: 18px;
  /* line-height: 2em*/ }

.cb-content45 h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #3498db;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }

.cb-pageloginregister1 label {
  font-size: 12px;
  border-top-color: #373738; }

.icon-social-fcb {
  color: #000000;
  padding: 5px; }

.icon-social-twt {
  padding: 5px;
  color: #000000; }

.icon-social-itg {
  text-align: center;
  color: #000; }

div.share {
  padding: 8px;
  margin: 0;
  text-align: center;
  border: 1px solid #3498db; }

div.address {
  margin: 0;
  padding: 4px; }

div.phone {
  margin: 0;
  padding: 4px; }

div.email {
  margin: 0;
  padding: 4px; }

.cb-title1 p {
  font-size: 22px;
  width: 75%; }

.cb-title10 h3 {
  font-size: 130px;
  color: #ebebeb;
  z-index: -1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.cb-title10 .top h5 {
  color: #3498db; }

.cb-header35 .content h1 span {
  color: #3498db;
  font-weight: 700; }

.cb-content14 p {
  font-size: 18px;
  line-height: 2em; }

.cb-content15 p {
  font-size: 18px;
  line-height: 2em; }

.cb-grid1 #box-excerpt {
  width: 90%;
  margin: 0 auto;
  font-size: 18px; }

.btn-effect {
  background: #0b6e45; }

.btn {
  border: none;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
  border-radius: 0;
  color: #ffffff;
  padding: 10px 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-size: 1em; }

.btn-effect:hover {
  overflow: hidden; }

.btn:focus {
  color: #ffffff;
  outline: none; }

.btn:active {
  color: #ffffff;
  outline: none; }

.form-control {
  height: auto; }

.form-control,
textarea {
  background: #F7F7F7;
  border: none;
  font-size: 15px;
  outline: medium none;
  color: #999;
  margin-bottom: 10px;
  padding: 10px 12px;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none; }

.form-control:focus,
textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid #3498db; }
  .form-control:focus .form-control:focus,
  .form-control:focus textarea:focus,
  textarea:focus .form-control:focus,
  textarea:focus textarea:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 2px solid #ffbb02; }
